<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzf.mybook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:name="com.example.mybook.MyBookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.example.mybook.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mybook.ImageActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="asd" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lzf.mybook.default.category" />
                <category android:name="com.lzf.mybook.default.mybook" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mybook.DetailActivity">
            <intent-filter>
                <action android:name="det" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.example.mybook.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.example.mybook.DownloadTask.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name="com.example.mybook.StaticReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>